<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Crawler</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
</head>
<body>
    <h1>Entry Hall</h1>
    <p>You find yourself in an enormous entry hall with rows of columns stretching off further than you can see.</p>
    <p>The only light is from two torches behind you that seem to be lit by something other than fire.</p>
    <p>To your left you see a door.</p>
    <p>To your right, you can barely make out another hallway in the distance.</p>
    <a href='./door1.html'>Check the door</a>
    <a href='./hallway1.html'>Check the hallway</a>
</body>
</html>